/* General container for the form */

.formLogIn {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  padding: 24px;
  font: var(--sds-typography-body-font-weight-regular)
    var(--sds-typography-body-size-medium)
    var(--sds-typography-body-font-family);
  border: 8px solid var(--color-primary);
  border-radius: 8px;
  box-shadow: var(--color-shadow-card-hover);
  max-width: 400px;
  margin: 40px auto; /* Center and add spacing */
}

.mt {
  margin-top: 1rem;
}

/* Input field container */
.inputField {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

/* Input labels */
.label {
  color: var(--color-text-dark);
  font-weight: bold;
  font-size: 1rem;
}

/* Input styling */
.input {
  border-radius: 8px;
  padding: 12px;
  border: 1px solid var(--color-primary);
  box-sizing: border-box;
  background-color: var(--color-text-white);
  font-size: 1rem;
}

/* Button group for alignment */
.buttonGroup {
  display: flex;
  justify-content: center;
}

/* Login button styling */
.button {
  border-radius: 8px;
  background-color: var(--color-primary);
  color: var(--color-text-white);
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.button:hover {
  background-color: var(--color-secondary);
}

/* Success message styling */
.successMessage {
  color: var(--color-confirm);
  font-weight: bold;
  text-align: center;
  margin-top: 16px;
}

/* Error message styling */
.errorMessage {
  color: var(--color-error);
  font-weight: bold;
  text-align: center;
  margin-top: 16px;
}

/* Links below the form */
.linkGroup {
  margin-top: 16px;
  text-align: center;
}


.link {
  color: var(--color-primary);
  text-decoration: underline;
  font-size: 0.9rem;
  margin: 0 5px;
  cursor: pointer;
}

.link:hover {
  color: var(--color-secondary);
}
/* Wrapper for the form */
.formWrapper {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

/* Title and description above the form */
.pageTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--color-primary);
}
.pageDescription {
  font-size: 1rem;
  margin-bottom: 20px;
  color: var(--color-text-grey);
}
.loginContainer {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
}