.worryContainer {
  background: #fff9db;
  padding: 20px;
  border-radius: 12px;
  max-width: 100%;
}

.editorWrapper {
  margin-bottom: 15px;
  background: white;
  border-radius: 8px;
}


.quillEditor :global(.ql-container) {
  font-family: inherit;
  font-size: 1rem;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  height: auto; 
}

.quillEditor :global(.ql-editor) {
  min-height: 150px; 
  max-height: 70vh; 
  overflow-y: auto; 
  height: auto;
}

.quillEditor :global(.ql-toolbar) {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: #fdfdfd;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.privacyBadge {
  background: #e9ecef;
  font-size: 0.75rem;
  padding: 4px 8px;
  border-radius: 20px;
  color: #495057;
  font-weight: bold;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.btnSave {
  background: #f08c00;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.btnClear {
  background: transparent;
  color: #ae3e3e;
  border: 1px solid #ae3e3e;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}